* {
  font-family: 'Poppins', sans-serif;
}

/* main */

.main-foto {
  width: 50%;
  float: right;
  padding-left: 10px;
}

.judul-section {
  font-weight: bold;
  color: #0f95d3;
  margin-top: 30px;
}

.regist-foto {
  background: url('../assets/images/mainn.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 70px;
  padding-bottom: 70px;
}

.regist-foto p {
  font-size: 22px;
  color: white;
  text-align: center;
}

@media screen and (min-width: 992px) {
  .form {
    width: 350px !important;
  }
}
@media screen and (max-width: 575px) {
  .button-regist {
    margin-top: 15px !important;
  }
}
@media screen and (max-width: 767px) {
  .button-regist {
    margin: auto;
  }
}
/* jurnal */
.ukuran-jurnal {
  width: 240px;
  height: auto;
}

.judul-jurnal {
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
}

.tombol-jurnal {
  width: 135px;
  height: 60px;
  text-decoration: none;
  text-align: center;
  color: white;
  background-color: #0f95d3;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}

/* poster */

.row-poster {
  padding-top: 30px;
}

.teks-poster {
  margin-top: 10px;
  color: black;
}

@media screen and (max-width: 768px) {
  .poster-img {
    text-align: center;
    align-items: center;
  }
}

/* cerita */

.card-cerita {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  align-items: center;
  height: 100% !important;
  background-color: #eaf9ff !important;
}

/* karir */
.karir {
  font-size: 25px;
  color: #0f95d3;
}
/* kerjakami */
.jarak-card {
  margin-top: 5px;
  margin-bottom: 15px;
}
.jarak-card3 {
  margin-top: 5px;
  margin-bottom: 15px;
}

@media screen and (max-width: 1180px) {
  .jarak-card {
    margin-top: 5px;
    margin-bottom: 40px;
  }
  .jarak-card3 {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 992px) {
  .jarak-card {
    margin-top: 5px;
    margin-bottom: 64px;
  }
  .jarak-card3 {
    margin-top: 5px;
    margin-bottom: 15px;
  }
}
@media screen and (max-width: 768px) {
  .jarak-card {
    margin-top: 5px;
    margin-bottom: 20px;
  }
  .jarak-card3 {
    margin-top: 5px;
    margin-bottom: 20px;
  }
}

/* galeri */
.teks-galeri {
  font-size: 14px;
  color: black;
}

.img-galeri {
  width: 350px;
  height: 200px;
  objectfit: cover;
}

/* general */

.jarak-section1 {
  padding-top: 70px;
  padding-bottom: 35px;
}

.tombol {
  text-decoration: none;
  text-align: center;
  color: #0f95d3;
  border: 2px solid #0f95d3;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  height: 65px;
}
.tombol:hover {
  color: white;
  background-color: #0f95d3;
}
.tombol-kerja {
  text-decoration: none;
  text-align: center;
  color: #0f95d3;
  border: 2px solid #0f95d3;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  width: 250px;
  height: 55px;
}

.bg-color {
  background-color: #eaf9ff;
  padding-top: 50px;
  padding-bottom: 50px;
}
.judul {
  background: url('../assets/images/mainn.jpg') no-repeat;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 175px;
  padding-bottom: 175px;
}

.judul h1 {
  font-size: 50px;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.footer {
  background-color: #0f95d3;
}

.footer p {
  margin-top: -35px;
}

.footer a {
  color: #eaf9ff;
}

.btn-foot {
  margin-right: 10px;
  background-color: white;
  border-radius: 50%;
  padding: 10px;
}
.btn-foot:hover {
  background-color: #0f95d3;
}
