/* App.css */

/* Gaya umum untuk aplikasi */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
  }
  
  /* Gaya khusus untuk komponen App */
  .App {
    text-align: center;
    padding: 20px;
  }
  
  /* Gaya untuk elemen-elemen di dalam komponen App */
  .App-header {
    background-color: #282c34;
    padding: 20px;
    color: white;
  }
  
  .App-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-link {
    color: #61dafb;
  }
  